<h1>Stupid Coaching</h1>
<div id = "question" >
<p> <%= params[:question]%></p>
<p> <em> - you </em> </p>
</div>
<div id = "answer">
<p>  <%= @answer %> </p>
<p> <em> - Coach <em> </p>
</div>
<%= link_to "Ask a new question", "/ask" %>
